@* Views/Shared/_ImportModal.cshtml *@
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">Import Categories</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do You Need To Import Categories From Open Library API؟</p>
        <div id="importStatus" class="mt-3" style="display: none;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="confirmImportBtn">
          <i class="bi bi-download"></i> Import
        </button>
      </div>
    </div>
  </div>
</div>
