@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category Page";
}
<div style="text-align:center; size:20px; padding:10px; border-radius:5px; margin-bottom:10px;">
    <h1 style="font-weight: bold;">Category List</h1>
</div>
<hr />
<div class="card mb-4">
    <div class="card-body">
        <a asp-action="Create" class="btn btn-primary mb-4">Create New Category</a>
    <form action="/store" method="post">
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
        </div>
        <div class="mb-3">
            <label for="displayOrder" class="form-label">Display Order</label>
            <input type="number" class="form-control" id="displayOrder" name="displayOrder" required>
        </div>
        <button type="submit" class="btn btn-success">Create Category</button>
    </form>
    </div>
</div>