@model Category

@{
ViewData["Title"] = "Category Details";
Layout = "_LayoutWithSidebar";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div style="text-align:center; size:20px; padding:10px; border-radius:5px; margin-bottom:10px;">
                <h1 style="font-weight: bold;">Category Details</h1>
            </div>
            <hr />
            @* <div class="card mb-4"> *@
                @* <div class="card-body"> *@
                    <a asp-action="Index" class="btn btn-dark mb-4">Back To Category</a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mb-4">Edit Category</a>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">Category Name:</dt>
                        <dd class="col-sm-9">@Model.Name</dd>

                        <dt class="col-sm-3">Display Order:</dt>
                        <dd class="col-sm-9">@Model.DisbplayOrder</dd>

                        <dt class="col-sm-3">Created Date:</dt>
                        <dd class="col-sm-9">@Model.CreatedDateTime.ToString("yyyy-MM-dd HH:mm")</dd>
                    </dl>
                @* </div> *@
            @* </div> *@
        </div>
    </div>
</div>