@model Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "_LayoutWithSidebar";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div style="text-align:center; size:20px; padding:10px; border-radius:5px; margin-bottom:10px;">
                <h1 style="font-weight: bold;">Category Update</h1>
            </div>
            <hr />
            <div class="card mb-4">
                <div class="card-body">
        <a asp-action="Index" class="btn btn-dark mb-4">Back To Category</a>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary mb-4">Show Category</a>
        <hr />
        <form asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" value="@Model.Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="DisbplayOrder" class="form-label"></label>
                <input asp-for="DisbplayOrder"  value="@Model.DisbplayOrder" class="form-control" required />
                <span asp-validation-for="DisbplayOrder" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
                </div>
            </div>
        </div>
    </div>
</div>
